@import url('https://googleapis.com');
body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}
.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.25rem;
    width: 300px;
    text-align: center;
    padding: 1.5625rem;
}
.card img {
    width: 100%;
    border-radius: 0.625rem;
}
.text {
    text-align: center;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}
.text2 {
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}